@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class=" text-danger">Welcome</h1>
</div>


<div class="card border-primary mb-3">
    <div class="card-header">
        <h4 class="card-title"> Pedaloes Booking Count</h4>
       
    </div>
    <div class="card-body">
        <ul>
            @foreach (var pedalo in Model.Pedaloes)
            {
                <li>@pedalo.Name - Booking Count: @pedalo.BookingCount</li>
            }
        </ul>
    </div>
</div>
