@page
@model PedaloWebApp.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class=" text-primary">@ViewData["Title"]</h1>

<h4>Customer</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" required pattern="[A-Za-z]+" />
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" required pattern="[A-Za-z]+" />
            </div>
            <div class="form-group">
                <label asp-for="Customer.BirthdayDate" class="control-label"></label>
                <input asp-for="Customer.BirthdayDate" id="birthdayInput" class="form-control" required type="date" />
               
            </div>
            <div class="form-group">
                <input asp-for="Customer.CustomerId" type="hidden"/>
                <input type="submit" value="Edit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
<script>
    // Birthday validation function
    var birthdayInput = document.getElementById('birthdayInput');
    birthdayInput.addEventListener('input', validateBirthday);
    function validateBirthday() {
        var birthday = new Date(birthdayInput.value);
        var currentDate = new Date();
        var minimumAge = 18;
        var minimumBirthYear = currentDate.getFullYear() - minimumAge;
        var birthYear = birthday.getFullYear();
        if (birthYear > minimumBirthYear) {
            birthdayInput.setCustomValidity('You must be at least 18 years old.');
        } else {
            birthdayInput.setCustomValidity('');
        }
    }

</script>